[submodule "gorp"]
	path = gorp
	url = ./src/github.com/coopernurse/gorp
[submodule "fsnotify"]
	path = fsnotify
	url = ./src/github.com/howeyc/fsnotify
[submodule "go-sqlite3"]
	path = go-sqlite3
	url = ./src/github.com/mattn/go-sqlite3
[submodule "oauth"]
	path = oauth
	url = ./src/github.com/mrjones/oauth
[submodule "config"]
	path = config
	url = ./src/github.com/robfig/config
[submodule "cron"]
	path = cron
	url = ./src/github.com/robfig/cron
[submodule "go-cache"]
	path = go-cache
	url = ./src/github.com/robfig/go-cache
[submodule "goauth2"]
	path = goauth2
	url = ./src/github.com/robfig/goauth2
[submodule "gomemcache"]
	path = gomemcache
	url = ./src/github.com/robfig/gomemcache
[submodule "pathtree"]
	path = pathtree
	url = ./src/github.com/robfig/pathtree
[submodule "revel"]
	path = revel
	url = ./src/github.com/robfig/revel
[submodule "go-eval"]
	path = go-eval
	url = ./src/github.com/sbinet/go-eval
[submodule "go-terminal"]
	path = go-terminal
	url = ./src/github.com/sbinet/go-terminal
[submodule "go-types"]
	path = go-types
	url = ./src/github.com/sbinet/go-types
[submodule "simpleuuid"]
	path = simpleuuid
	url = ./src/github.com/streadway/simpleuuid
[submodule "mgorx"]
	path = mgorx
	url = ./src/github.com/tanema/mgorx
[submodule "revel_mailer"]
	path = revel_mailer
	url = ./src/github.com/tanema/revel_mailer
[submodule "./src/github.com/mrjones/oauth"]
	path = ./src/github.com/mrjones/oauth
	url = ./src/github.com/mrjones/oauth
[submodule "./src/github.com/robfig/cron"]
	path = ./src/github.com/robfig/cron
	url = ./src/github.com/robfig/cron
[submodule "./src/github.com/robfig/go-cache"]
	path = ./src/github.com/robfig/go-cache
	url = ./src/github.com/robfig/go-cache
[submodule "./src/github.com/robfig/goauth2"]
	path = ./src/github.com/robfig/goauth2
	url = ./src/github.com/robfig/goauth2
[submodule "./src/github.com/robfig/gomemcache"]
	path = ./src/github.com/robfig/gomemcache
	url = ./src/github.com/robfig/gomemcache
[submodule "./src/github.com/robfig/pathtree"]
	path = ./src/github.com/robfig/pathtree
	url = ./src/github.com/robfig/pathtree
[submodule "./src/github.com/bmizerany/pq"]
	path = ./src/github.com/bmizerany/pq
	url = ./src/github.com/bmizerany/pq
[submodule "./src/github.com/coopernurse/gorp"]
	path = ./src/github.com/coopernurse/gorp
	url = ./src/github.com/coopernurse/gorp
[submodule "./src/github.com/howeyc/fsnotify"]
	path = ./src/github.com/howeyc/fsnotify
	url = ./src/github.com/howeyc/fsnotify
[submodule "./src/github.com/mattn/go-sqlite3"]
	path = ./src/github.com/mattn/go-sqlite3
	url = ./src/github.com/mattn/go-sqlite3
[submodule "./src/github.com/robfig/config"]
	path = ./src/github.com/robfig/config
	url = ./src/github.com/robfig/config
[submodule "./src/github.com/robfig/revel"]
	path = ./src/github.com/robfig/revel
	url = ./src/github.com/robfig/revel
[submodule "./src/github.com/sbinet/go-eval"]
	path = ./src/github.com/sbinet/go-eval
	url = ./src/github.com/sbinet/go-eval
[submodule "./src/github.com/sbinet/go-terminal"]
	path = ./src/github.com/sbinet/go-terminal
	url = ./src/github.com/sbinet/go-terminal
[submodule "./src/github.com/sbinet/go-types"]
	path = ./src/github.com/sbinet/go-types
	url = ./src/github.com/sbinet/go-types
[submodule "./src/github.com/streadway/simpleuuid"]
	path = ./src/github.com/streadway/simpleuuid
	url = ./src/github.com/streadway/simpleuuid
[submodule "./src/github.com/tanema/mgorx"]
	path = ./src/github.com/tanema/mgorx
	url = ./src/github.com/tanema/mgorx
[submodule "./src/github.com/tanema/revel_mailer"]
	path = ./src/github.com/tanema/revel_mailer
	url = ./src/github.com/tanema/revel_mailer
