<div class="container all_sigs">
  <p> {{.count}} People have doodled in my guestbook. </p>
  {{range .signatures}}
    <div class="signature_view">
      <div class="signature_name">
        <span class="signature_name_inner">
          {{with .Name}} {{.}} {{else}} "Anon" {{end}}
        </span>
      </div>
      <img src="/signatures/{{.Id.Hex}}" class="sig_pic">
      <div class="signature_word">
        <span class="signature_word_inner">
          {{.Word}}
        </span>
      </div>
      <div class="signature_comment">
        <p> {{.Comment}} </p>
        <a href="/signatures/{{.Id.Hex}}/report">report</a>
      </div>
    </div>
  {{else}}
    Why has no one doodled in my guestbook? :(
  {{end}}
</div>
