<div id="signature">
  <form id="signature_form" action="/signatures" method="POST">
    <div class="canvas_controls">
      <div id="clear_signature"></div>
      <div class="change_color" data-color= "white" style="background-color:white;"></div>
      <div class="change_color" data-color= "black" style="background-color:black;"></div>
      <div class="change_color" data-color= "red" style="background-color:red;"></div>
      <div class="change_color" data-color= "yellow" style="background-color:yellow;"></div>
      <div class="change_color" data-color= "green" style="background-color:green;"></div>
      <div class="change_color" data-color= "purple" style="background-color:purple;"></div>
      <div class="change_color" data-color= "brown" style="background-color:brown;"></div>
    </div>
    <div class="word_controls">
      <span data-word="true">{{.signature.Word}}</span>
      {{with $field := field "signature.Word" .}}
        <input type="hidden" data-word="true" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value}}">
      {{end}}
      <a href="#"id="new_word" class="btn">New Word</a>
    </div>
    <canvas id="draw_something" width="325" height="400"></canvas>
    {{with $field := field "signature.Png" .}}
      <div class="error">{{$field.Error}}</div>
      <input type="hidden" data-behaviour="canvas_save" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value}}">
    {{end}}
    <div class="sig_inputs">
      {{with $field := field "signature.Name" .}}
        <input type="text" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="Name"><br/>
      {{end}}
      {{with $field := field "signature.Email" .}}
        <input type="email" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="Email"></br>
        <span class="error">{{$field.Error}}</span>
      {{end}}
      {{with $field := field "signature.Comment" .}}
        <textarea id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value}}" placeholder="Comment"></textarea></br>
      {{end}}

      <div class="button_bar">
        <a class="btn flip_it">Cancel</a>
        <input type="submit" value="I'm Done!" class="btn btn-primary">
      </div>
    </div>
  </form>
  <script>
    $("#new_word").on("click", function(e){window.new_word(e);});
    $("#clear_signature").on("click", function(){$("canvas").trigger("clear")})
    $(".change_color").on("click", function(){ $("canvas").trigger("change_color", $(this).data("color")) });
    $("canvas").signature("{{.signature.Png}}");
  </script>
</div>
